@font-face {
	font-family: 'Pacifico';
	src:url(../fonts/Pacifico-Regular.ttf);
}

@font-face {
	font-family: 'Montserrat';
	src:url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
	font-family: 'Montserrat';
	font-weight: bold;
	src:url(../fonts/Montserrat-Bold.ttf);
}

/*-------------Estilos base--------------*/

* {
	margin: 0;
	padding: 0;
}

:root {
	--global-green: #72a411;
	--dark-green: rgb(20, 150, 0);
	--select-green: rgb(20, 130, 0);
	--global-gray: rgb(100,100,100);
}

body {
	font-family: 'Montserrat';
}

img {
	display: block;
	width: 100%;
	max-width: 100%;
}

.container {
	width: 100%;
	margin: auto;
}

html {
	scroll-behavior:smooth;
}

.line-hr {
	border:1px solid #ccc;
	margin-bottom: 20px;
}
/*----------Estilos del header-----------*/
.header {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;
}
.div {
	position: fixed;
	z-index: 1;
	height: 56px;
	top: ;
	transition: background .5s;
}
/*.header-logo-content {
	display: flex;
	justify-content: center;
	font-family: 'Montserrat';
	background: var(--global-green);
	color: #fff;
	text-align: center;
	padding: 10px;
	font-size: 22px;
}
*/

.header-content {
	padding: 8px 0 8px 0;
	background-color: var(--global-green);
	color: #fff;
}

.icon-location {
	color: ;
}

/*-------------Estilos del menu-------------*/

.logo-content {
	display: flex;
	font-size: 30px;
	z-index: 1;
	color: #fff;
	font-family: 'Montserrat';
	width: 100%;
	margin-top: 5px;
}

.header-logo-two {
	font-weight: bold;
}

.icon-bars {
	display: block;
	color: var(--global-green);
	border: 1px solid var(--global-green);
	border-radius: 3px;
	width: 40px;
	height: 40px;
	line-height: 45px;
	text-align: center;
	cursor: pointer;
	font-size: 1.5em;
	float: right;
	margin: -35px 10px;
}

.menu {
	position: absolute;
	width: 100%;
	background-color: var(--global-green);
	text-align: center;
	top: -450%;
	opacity: 0;
	transition: all 0.5s;
}

.mostrar {
	opacity: 1;
	top: 75px;
}

.menu__item {
	list-style: none;
}

.menu__link {
	display: block;
	text-decoration: none;
	color: #fff;
	padding:20px 0;
	font-size: 13px;
	letter-spacing: 1.5px;
}

.select {
	background: var(--dark-green);
}

.icon-home, .icon-cloud-download,
.icon-phone, .icon-user {
	position: relative;
	font-size: 18px;
	top: 2px;
	right: 5px;
}

.menu__link:hover {
	background: var(--select-green);
}

/*-------------Estilos del banner-------------*/

.banner {
	margin-top: 59px;
	background-image: url(../img/coffeeshop.jpg);
	background-size: 100% 100%;
	background-attachment: fixed;
}

.banner__color {
	background:rgba(0,0,0,.2);
	padding: 180px 30px;
}

.banner__content {
	color: #fff;
	padding: 10px;
	text-align: center;
}

.banner__text {
	margin-bottom: 90px;
}

.banner__title {
    font-size: 24px;
    margin-bottom: 8px;
}
.banner__txt {
	font-size: 14px;
	font-weight: normal;
}

.banner__buttons {
	text-align: center;
	text-decoration: none;
	color: #fff;
	margin-bottom: -90px;
}

.banner__buttons-content {
	border: 4px solid var(--global-green);
	margin: auto;
	width: 75px;
	height: 85px;
	display: flex;
}

.banner__buttons-to_bottom {
	width: 0;
	height: 0;
	margin: auto;
	border-top: 40px solid var(--global-green);
	border-left: 24px solid transparent;
	border-right: 24px solid transparent;
	animation-name: bannerButton;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
	animation-direction: alternate;
}
/*----Estilos de bienvenida y experiencia----*/

.welcome, .experience {
	margin-bottom: ;
}

.welcome__color, .experience__color {
	padding: 100px 0;
}

.experience__color {
	background: rgb(240, 250, 240);
}
.welcome__img, .experience__img {
	height: 300px;
}

.welcome__title, .experience__title {
	text-align: center;
	color: var(--global-green);
	font-size: 26px;
	font-weight: normal;
	border-bottom: 1px solid var(--global-green);
	width: 180px;
	margin: auto;
	padding-bottom: 10px;
	letter-spacing: 5px;
}

.welcome__txt, .experience__txt {
	line-height: 30px;
	font-size: 14px;
	color: rgb(60, 60, 60);
}

.welcome-p {
	margin-top:12px;
	text-align: center;
}

.welcome__link {
	text-decoration: none;
	border: 0;
	border-radius: 2px;
	background: var(--global-green);
	color: #fff;
	padding: 12px 15px;
	font-size: 16px;
	transition: all .5s;
}

.welcome__link:hover {
	/*box-shadow: 0px 0px 30px var(--global-green);*/
	background: #fff;
	color: var(--global-green);
	border: 1px solid var(--global-green);
}

/*-------------Nuestro personal-------------*/

.our-personal {
   	background-image: url(../img/our-personal.jpg);
    background-size: 100% 50%;
    background-attachment: fixed;
}

.our-personal-color {
	background: rgba(0,0,0,.4);
	padding: 80px 0 80px 0;
}

.our-personal-title {
	text-align: center;
	color: var(--global-green);
	letter-spacing: 3px;
	font-size: 28px;
	width: 230px;
	margin: auto;
	padding-bottom: 8px;
	border-bottom: 4px solid var(--global-green);
	margin-bottom: 40px;
}

.chefs {
	width: 270px;
	text-align: center;
	margin: auto;
	margin-bottom: 20px;
}

.chefs-img__content {
	height: 300px;
	border: 1px solid #fff;
	margin: auto;
	padding: 5px;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.chefs-img {
	width: 100%;
	height: 100%;
}

.chefs__content {
	margin-top: ;
}

.chefs-name {
	font-size: 18px;
	font-weight: bold;
	color: #fff;
}

.chefs-age {
	color: #fff;
}

/*-------Our coffee | Our cakes------*/

.column__coffee-background {
	background: rgb(242, 236, 202);
}

.column__coffee-background,
.column__cake-background {
	padding: 100px 0;
}

.column__coffee-container,
.column__cake-container {
	width: 90%;
}

.column__coffee-content,
.column__cake-content {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	grid-auto-rows: repeat(3, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.column__coffee, .column__cake {
	background: #fff;
	border: 2px solid rgb(190, 220, 190);
	border-radius: 7px;
	transform: translateY(0);
	transition: all .5s;
}

.column__coffee:hover,
.column__cake:hover {
	transform: translateY(-10px);
	box-shadow: 0 25px 30px rgba(130, 130, 130,.3);
}

.column__coffee-content__img,
.column__cake-content__img {
	background: rgb(240, 248, 240);
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: center;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
}

.column__coffee-img, .column__cake-img {
	width: 220px;
	height: 170px;
	margin: auto;
	object-fit: contain;
}

.column__coffee-container-title,
.column__cake-container-title {
	text-align: center;
	color: var(--global-green);
	margin: auto;
	padding-bottom: 7px;
	margin-bottom: 40px;
	letter-spacing: 3px;
	font-size: 22px;
	border-bottom: 4px solid var(--global-green);
	width: 250px;
}

.column__coffee-text, .column__cake-text {
	text-align: center;
	padding: 20px 0;
}

.column__coffee-title,
.column__cake-title {
	font-size: 20px;
	color: var(--global-green);
}

.column__coffee-price__before,
.column__cake-price__before {
	font-size: 14px;
	color: rgb(160,160,160);
}


.column__coffee-price,
.column__cake-price {
	font-size: 18px;
	color: rgb(140,140,140);
}

/*-------Our cakes------*/

.column__cake-background {
	background: #fff;
}

.column__cake-container-title {
	width: 290px;
}

/*-------------Gallery-------------*/

.gallery-background {
	background: rgb(40, 40, 40);
	padding: 100px 0;
}

.gallery-title {
	text-align: center;
	color: var(--global-green);
	letter-spacing: 3px;
	width: 130px;
	margin: auto;
	border-bottom: 4px solid var(--global-green);
	padding-bottom: 7px;
	margin-bottom: 40px;
}

.gallery {
	display: grid;
	grid-template-rows: repeat(2, 180px);
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 180px;
	grid-gap: 8px;
	list-style: none;
	grid-auto-flow: ;
}

.gallery__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 0.5s;
}

.gallery__li:first-child {
	grid-column-start: 1;
	grid-column-end: 3;
}

.gallery__li:nth-child(11) {
	grid-column: 3 / 5;
}

.gallery__li:nth-child(13) {
	grid-column: 1 / 3;
}

.gallery__li:nth-child(15) {
	grid-column: 3 / 5;
}

.gallery__img:hover {
	transform: scale(1.02);
}

/*---------- Gallery modal ------------*/

.gallery__modal {
	display: none;
}

.gallery__modal:target {
	display: block;
	position: fixed;
	background: rgba(0,0,0,.8);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10;
}

.gallery__modal--overflow {
	overflow: hidden;
}

.gallery__modal-close {
	font-size: 20px;
	text-decoration: none;
	background: #fff;
	color: #000;
	margin: 5px;
	padding: 5px;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	float: right;
}

.gallery__modal-title {
	text-align: center;
	color: #fff;
	margin-bottom: 5px;
}

.gallery__modal-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.gallery__modal-content a {
	font-size: 40px;
	color: #fff;
	text-decoration: none;
	background: #fff;
	color: #000;
	margin:7px;
	padding: 8px;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
}


.gallery__modal-content a:nth-child(2) {
	margin: 0;
	height: 100%;
	flex-shrink: 2;
}

.gallery__modal-img {
	width: 500px;
	height: 100%;
	object-fit: cover;
	border:7px solid #fff;
	box-sizing: border-box;
}

/*------------- Gallery - Paginación -----------*/

	   #active > .pag-link{
	   	background: rgb(225,100,0);
	   }
	  .paginacion {
	  	margin: auto;
	  	margin-top: 15px;
	  	text-align: center;
	  }

      ul > .li{
      	list-style: none;
      	display: inline-block;
      	margin-right:7px;
      }
      ul > .li > .pag-link {
      	color: #FFFFFF;
      	text-decoration: none;
      	padding: 10px 17px 10px 17px;
        display: block;
		background: var(--global-green); /* Old browsers */
		border-radius: 50%;
      }
      .btn > .pag-link {
      	padding: ;
		background: brown; /* Old browsers */
	    border-radius: ;
		text-align: center;
		width:;
      }

/*-------------Nuestros servicios-------------*/
.service__container-background {
	background-color: ;
}
.service__container {
	padding: 100px 0;
}
.service__column {
	width: 70%;
	margin: auto;
	padding: 17px;
	text-align: center;
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid rgb(180, 210, 180);
	border-left: 7px solid rgb(180, 210, 180);
	box-sizing: border-box;
	transition: all .5s;
}

.service__column:hover {
	box-shadow: 0px 0px 30px rgb(210, 230, 210);
}

.service__column-img {
	object-fit: cover;
	height: 250px;
	border-top-left-radius: ;
	border-top-right-radius: ;
}

.service__column-text {
	padding: 20px;
}

.service__column-title {
	font-size: 18px;
	color: var(--global-green);
	margin-bottom: 5px;
}

/*-------------Home delivery-------------*/

.home__delivery {
	background-image: url(../img/home_delivery.jpg);
	background-size: 450px 100%;
	background-repeat: ;
}

.home__delivery-background {
	background: rgba(0, 0, 0, .3);
	padding: 100px 0;
}

.home__delivery-column {
	text-align: center;
}
.home__delivery-column--1 {
	padding: 0 10px 0 10px;
	box-sizing: border-box;
}
.home__delivery-column--2 {
	display: none;
}

.home__delivery-title,
.home__delivery-txt {
	color: #fff;
}

.home__delivery-title,
.reservation__table-title {
	text-align: center;
	margin-bottom: 10px;
}

.home__delivery-txt,
.reservation__table-txt {
	font-size: 14px;
	margin-bottom: 10px;
	line-height: 22px;
	text-align: left;
}

.home__delivery-button {
	background: var(--dark-green);
	padding: 13px 10px;
	border: 0;
	border-radius: 2px;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	width: 200px;
	transition: background .3s;
}

.home__delivery-button:hover {
	background: var(--global-green);
}
/*------------- Reservation -------------*/
.reservation__table-background {
	background: rgb(250, 240, 250);
	padding: 100px 0;
}
.reservation__table-title {
	color: var(--global-green);
}
.reservation__table-column {
	text-align: center;
}
.reservation__table-column--1 {
	margin-bottom: 20px;
}
.reservation__table-column--2 {
	padding: 0 10px 0 10px;
	box-sizing: border-box;
}
.reservation__table-button {
	background: var(--dark-green);
	padding: 13px 10px;
	border: 0;
	border-radius: 2px;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	width: 200px;
	transition: background .3s;
}
.reservation__table-button:hover {
	background: var(--global-green);
}
/*-------------Info de contacto-------------*/

.contact-us-title, .service-title, .about-title {
	font-size: 24px;
	margin-bottom: 30px;
	text-align: center;
	color: var(--global-green);
	letter-spacing: 4px;
}

.contact-us {
	margin-bottom: 20px;
}

.contact-info {
	width: 90%;
	margin: auto;
	margin-bottom: 20px;
	border-bottom: 5px solid var(--global-green);
	padding-bottom: 20px;
}

.contact-info-title {
	text-align: center;
	color: var(--global-green);
}

.contact-info-title, .contact-info-txt {
	margin-bottom: 15px;
}

.contact-info-txt {
	line-height: 30px;
}

.icon-global {
	line-height: 30px;
	color: var(--global-green);
}

/*-------------Formulario contacto-------------*/

.contact-form-container-title {
	text-align: center;
	margin-bottom: 15px;
	color: var(--global-green);
}

.contact-form-container {
	width: 90%;
	margin: auto;
}

.contact-form input {
	width: 100%;
	height: 40px;
}

.contact-form input[type='text'], textarea {
	margin-bottom: 10px;
	font-size: 14px;
	padding-left: 7px;
	border: 1px solid #ccc;
	border-radius: 6px;
	box-sizing: border-box;
}

.contact-form textarea {
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	height: 100px;
	max-height: 140px;
	min-height: 60px;
	font-family: 'Montserrat';
	padding-top: 7px;
	resize: none;
}

.contact-form input[type='submit'] {
	border: none;
	border-radius: 6px;
	font-weight: bold;
	background: #72a411;
	color: #fff;
	transition: background .3s;
}

.contact-form input[type='submit']:hover {
	cursor: pointer;
	background: #82b711;
}

/*-----------------Acerca de----------------*/
.about-title {
	margin: 0;
}
.about-our__company-background {
	padding: 100px 0;
}
.about-our__company-title {
	text-align: center;
	color: rgb(100, 100, 100);
	padding: 7px;
	border-bottom: 3px solid var(--global-gray);
	width: 250px;
	margin: auto;
	margin-bottom: 35px;
	font-weight: normal;
	font-size: 20px;
	letter-spacing: 3px;
}

.about-our__company-description {
	text-align: center;
	color: var(--global-gray);
	line-height: 25px;
	margin-bottom: 20px;
}

.about-our__company-content__img {
	border-top: 2px solid rgb(140, 140, 140);
	border-bottom: 2px solid rgb(140, 140, 140);
	padding: 10px 0;
	margin: auto;
	margin-bottom: 20px;
}

.about-our__company-img {
	height: 280px;
	object-fit: cover;
}

.about-our__company-text {
	color: var(--global-gray);
	line-height: 25px;
}

.about__us-container-title {
	color: var(--global-green);
	font-size: 33px;
	font-weight: normal;
	letter-spacing: 3px;
}

.dark-green {
	background: var(--global-green);
}
.about__column {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 100px 0;
}

.about__column--column1,
.about__column--column2 {
	width: 48%;
	height: 100%;
}

.about__column--column1-dark {
	display: flex;
	justify-content: right;
}

.about__column-img,
.about__column-img-dark {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	object-fit: cover;
}

.about__column-name,
.about__column-name-dark {
	font-size: 22px;
	color: var(--global-green);
	text-align: center;
	margin-bottom: 5px;
}

.about__column-name-dark {
	color: #fff;
}
.about__column-txt,
.about__column-txt-dark {
	line-height: 30px;
	color: var(--global-gray);
}

.about__column-txt-dark {
	text-align: right;
	color: #fff;
}

/*-----------------Button up----------------*/

.button-up-container {
	overflow: hidden;
	margin-bottom: 20px;
}

.button-up {
	border:1px solid brown;
	border-radius: 50%;
	padding: 10px;
	width: 20px;
	text-align: center;
	color: brown;
	text-decoration: none;
	float: right;
}

/*-----------------Footer----------------*/

.main-footer {
    background: #222;
    color: white;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: .8em;
}
.footer__column {
	margin-bottom: 20px;
}
.footer__column-title {
	margin-bottom: 10px;
}
.footer__column-txt {
	line-height: 25px;
}
.copy {
    text-align: center;
    margin:auto;
    margin-top: 15px;
}

.main-footer [class*="icon-"] {
    color: white;
    text-decoration: none;
}

.main-footer [class*="icon-"]:before {
    position: relative;
    top: 3px;
    right: 5px;
}

@media screen and (min-width: 480px) {
	.welcome, .experience {
		display: flex;
		justify-content: space-around;
	}
	.welcome__img, .experience__img {
		object-fit: cover;
	}
	.welcome__img, .welcome__container,
	.experience__img, .experience__container {
		width: 45%;
	}
	.welcome__title, .experience__title {
		margin-bottom: 12px;
	}
	.welcome__txt, .experience__txt {
		font-size: 16px;
		text-align: justify;
	}
	.welcome {
		margin-bottom: ;
	}
	.experience {
		margin:0;
	}
	.experience__color {
	}
	.experience {/*Esta clase tiene container asi que tiene margin:auto. Por eso tiene esa propiedad.*/
		margin: 0 auto;
	}
	.welcome__img {
		margin-right: 5px;
	}
	.experience__img {
		margin-left: 5px;
	}
	/*---------Nuestro personal-----------*/
	.our-personal {
	    background-size: 100% 100%;
	}
	.chefs-flex {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.chefs {
		width: 140px;
		margin: 0;
	}

	.chefs-img__content {
		height: 170px;
	}
	/*-------Our coffee | Our cakes------*/
	.column__coffee-content,
	.column__cake-content {
	}
	.column__coffee,
	.column__cake {
	}
/*-------------Gallery-------------*/
	.gallery {
		grid-gap: 17px;
	}
    .gallery__modal-img {
	    width: 500px;
	    height: 250px;
	    object-fit: cover;
	    border:7px solid #fff;
	    box-sizing: border-box;
}
/*-------------Nuestros servicios-------------*/
    .service__container {
    	display: flex;
    	flex-wrap: wrap;
    	justify-content:space-around;
    }
    .service__column {
    	width: 36%;
    	margin-top: 0;
    }
	/*-------------Home delivery-------------*/
	.home__delivery {
		background-size: 600px 100%;
	}
	.home__delivery--flex,
	.reservation__table--flex {
		display: flex;
		justify-content: space-between;
	}
	.home__delivery-column,
	.reservation__table-column {
		width: 48%;
	}
	.home__delivery-column--2 {
		display: block;
	}
	.home__delivery-border__img {
		border: 1px solid #fff;
		padding: 7px;
	}
	/*----------- Reservation -----------*/
	.reservation__table-background {
	}
	/*---------Info contacto-----------*/
	.contact-us {
		display: flex;
		justify-content: space-between;
		margin: auto;
		margin-bottom: 20px;
	}
	.contact-info {
		width: 48%;
		margin: 0;
		border-right: 5px solid var(--global-green);
		border-bottom: 0;
		padding: 0;
		padding-right: 10px;
	}
	.contact-form-container {
		width: 48%;
		overflow: ;
		box-sizing: ;
	}
	.contact-form {
		width: 100%;
		padding-left: 10px;
		box-sizing: border-box;
	}
	.contact-form input, textarea {
		box-sizing: border-box;
	}
	/*---------Acerca de-----------*/
	.about-our__company-content__img {
		width: 90%;
	}
	.about__column--column1 {
		width: 43%;
	}
	.about__column--column2 {
		width: 55%;
	}
	/*---------Footer-----------*/
	.footer__column {
		display: inline-block;
		width: 32%;
		vertical-align: top;
	}
	.footer__column-title {
		font-size: 16px;
	}
	.footer__column-txt {
		font-size: 13px;
	}
	.copy {
		font-size: 13px;
	}
}

@media screen and (min-width: 768px) {
	.banner__content {
		width: ;
	}
	.banner__title {
		font-size: 30px;
	}
	/*-------Bienvenida, experiencia------*/
	.welcome__title, .experience__title {
		font-size: ;
	}
	.experience__color {
		margin-bottom: ;
    }
	/*-----------Personal-----------*/
	.chefs {
		width: 220px;
	}
	.chefs-img__content {
		height: 250px;
	}
	/*-------Our coffee | Our cakes------*/
	.column__coffee-container-title,
	.column__cake-container-title {
		font-size: 22px;
	}
/*-------------Nuestros servicios-------------*/
    .service__column {
    	width: 24%;
    }
/*-------------Home delivery-------------*/
	.home__delivery {
		background-size: 800px 100%;
	}
/*-------------Contact Us-------------*/
.contact-form textarea {
	height: 125px;
}
/*-------------Acerca de-------------*/
.about-our__company-img {
	height: 400px;
}
	.about__column--column1 {
		width: 31%;
	}
	.about__column--column2 {
		width: 67%;
	}
}

@media screen and (min-width: 1024px) {
	.container {
		width: 1000px;
	}
	.header {
		display: none;
	}
	/*----------------Menu-------------------*/
	.div {
		width: 100%;
		z-index: 1;
		height: 56px;
	}
	.div-color {
		position: absolute;
		display: flex;
		justify-content: space-between;
		width: 1000px;
		left: 5px;
	}
	.logo-content {
		margin-top: 8px;
	}
	.icon-bars {
		display: none;
	}
	.menu {
		position: relative;
		font-size: 14px;
		display: flex;
		background: 0;
		opacity: 1;
	}
	.menu__link {
		background: /*rgb( 196, 125, 85 )*/;
		padding: 16.5px 9px;
		transition: background 0.3s;
	}
	.menu__link:hover {
		background: ;
	}
	/*------------banner-------------*/
	.banner {
		margin-top: 0;
	}
	.banner__color {
		padding: 205px 30px;
	}
	.banner__text {
		margin-bottom: 140px;
	}
	.banner__title {
		font-size: 45px;
	}
	.banner__txt {
		font-size: 18px;
	}
	.banner__buttons {
		margin-bottom: -140px;
	}
	.banner__buttons-link {
		font-size: 18px;
	}
	/*---------Nuestro personal---------*/
	.chefs-img {
		width: ;
		height: ;
	}
	/*---------Nuestros servicios---------*/
    .service__column {
    	width: 26%;
    }
	/*-------------Home delivery-------------*/
	.home__delivery {
		background-size: 900px 100%;
	}
	.home__delivery-background {
	}
	/*--------Contacto----------*/
	.contact-us-title {
		margin-bottom: 50px;
	}
	/*-------------Acerca de-------------*/
    .about__column {
    	width: ;
    }
}

@media screen and (min-width: 1300px) {
	.container {
		width: 1100px;
	}
	.div {
		width: 100%;
	}
	.div-color {
		left: 183px;

	}	
}

@media screen and (min-width: 1600px) {
	.container {
		width: 1300px;
	}
    .banner__color {
	   padding: 220px 0 220px 0;
    }
}